<html>
<head>
  <title>Medicine</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Medicine</h1>

  {% for dose in doses %}
    <p>{{ dose.name }} next dose of {{ dose.med }} at {{ dose.datetime }}</p>
  {% endfor %}

  <form action="{{ url_for('doses') }}" method="post">
    <select name="Person">
      {% for person in people %}
        <option value="{{ person.name }}">{{ person.name }}</option>
      {% endfor %}
    </select>
    <select name="Medicine">
      {% for medicine in medicines %}
        <option value="{{ medicine.name }}">{{ medicine.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">New dose</button>
  </form>

</body>
</html>